<div class="clearfix">
<% @media.each_with_index do |item,index| %>
	<div class="media-item <%= 'last' if (index +1) % 6 == 0 %>">

		<a class="fancybox" rel="media-item" href="<%= item.images.standard_resolution.url %>"><img src="<%= item.images.thumbnail.url %>"/></a>

		<div class="media-item-bottom">
			<input name="media[]" type="checkbox" class="media-select" value="<%= item.images.standard_resolution.url %>" checked="checked"/>
		</div>

	</div>
<% end %>
</div>


<% unless @pagination.next_max_id.nil? %>
<div class="pager">
	<div id="media-loader" class="loader center"></div>

	<a id="show-more" href='<%= url("/user/#{params[:id]}/feed") %>' class="btn btn-default" data-next-max-id="<%= @pagination.next_max_id %>">Load more ...</a>
</div>
<% end %>