<!DOCTYPE HTML>
 <html lang="en">
 <head>
 	<title>Instgrm Downloader</title>
 	<meta charset="UTF-8">
    <meta name="description" content="Batch Download instagram photos from any public instagram user or friend">

    <link href="<%= url('/css/bootstrap.css') %>" rel="stylesheet" type="text/css" />
    <link href="<%= url('css/bootstrap-theme.css') %>" rel="stylesheet" type="text/css"/>
    <link href="<%= url('/css/app.css') %>" rel="stylesheet" type="text/css" />

    <script src="<%= url('/js/jquery.js') %>"></script>
    <script src="<%= url('/js/bootstrap.js') %>"></script>
    <script src="<%= url('/js/app.js') %>"></script>

    <link rel="shortcut icon" href="/favicon.ico">
  </head>
  </head>
  <body>
	
    <!-- Wrap all page content here -->
    <div id="wrap">
		
	   <%= erb :_header %>

      <!-- Begin page content -->
      <section id="main-content" class="container clearfix">

     	 <%= erb :_flashes %>

     	 <%= yield %>

      </section>
    </div>

    <%= erb :_footer %>
  	
 </body>
 </html>